@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F0F0F;
  font-family: 'Inter', 'sans-serif';
}
@keyframes revealText {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
.logo-load-in {
  animation: revealText 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}
